<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personalized Music</title>
    <link rel="stylesheet" href="Home/MUCE.css">
</head>

<body onload="updateArtists()">

    <div class="parallax"></div>

    <h2 class="heading1">Personalized Music</h2>

    <div class="content">
        <!-- Form for selecting genre and artist -->
        <form action="/getRecommendations" method="POST" id="musicForm">
            <label for="genre">Genre:</label>
            <select class="restart" id="genre" name="genre" onchange="updateArtists()">
                <option value="Rock">Rock</option>
                <option value="Jazz">Jazz</option>
                <option value="Rap">Rap</option>
                <option value="Pop">Pop</option>
                <option value="Blues">Blues</option>
                <option value="Hard Rock">Hard Rock</option>
                <option value="Vocal Jazz">Vocal Jazz</option>
                <option value="Hip-Hop">Hip-Hop</option>
                <option value="Electric Blues">Electric Blues</option>
            </select>

            <br>

            <label for="artist">Artist:</label>
            <select class="restart" id="artist" name="artist"></select>
            
            <br>
            <button type="submit" class="submitBtn">Explore Music</button>
        </form>

        <!-- Back button -->
        <form action="/" method="get">
            <button type="submit" class="submitBtn">Back</button>
        </form>
    </div>

    <!-- JavaScript to update artists based on selected genre -->
    <script>
        function updateArtists() {
            const selectedGenre = document.getElementById("genre").value;
            const artistDropdown = document.getElementById("artist");

            const artistsByGenre = {
                'Rock': ['Queen', 'Eagles'],
                'Jazz': ['Miles Davis', 'Dave Brubeck Quartet'],
                'Rap': ['Eminem', 'Travis Scott'],
                'Pop': ['Michael Jackson', 'Madonna'],
                'Blues': ['Robert Johnson', 'T-Bone Walker'],
                'Hard Rock': ["Guns N' Roses"],
                'Vocal Jazz': ['Nat King Cole'],
                'Hip-Hop': ['Jay-Z'],
                'Electric Blues': ['Albert King']
            };

            artistDropdown.innerHTML = "";

            artistsByGenre[selectedGenre].forEach(artist => {
                artistDropdown.innerHTML += `<option value="${artist}">${artist}</option>`;
            });
        }
    </script>

</body>

</html>
